# 避免从远程仓库下载文件
name: 創建本地 docker image

# 當docker分支推送代碼時，自動生成docker image
on:
  push:
    branches: ['docker']
#支持手动执行 测试
  workflow_dispatch:


# There is a single job in this workflow. It's configured to run on the latest available version of Ubuntu.
jobs:
  sftp_local:
    name: 文件推送到本地
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      #
    steps:
      - name: 拉代碼
        uses: actions/checkout@v4

      - name: 设置java版本
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: 将文件转移到服务器
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          username: '${{ secrets.REMOTE_USER_NAME }}'
          server: '${{ secrets.REMOTE_IP_ADDRESS }}'
          port: '${{ secrets.REMOTE_PORT }}'
          password: '${{ secrets.REMOTE_PASSWORD }}'
          local_path: './*'
          remote_path: '${{ secrets.REMOTE_FILE_TARGET }}/weixin'


  deploy:
    runs-on: ubuntu-latest
    needs: sftp_local
    permissions:
      contents: read
      packages: write
      #
    steps:
      - name: 删除本地服务和镜像
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.REMOTE_IP_ADDRESS }} # 服务器ip地址 ; 需要去仓库的 settings/secrets/actions 去创建
          username: ${{ secrets.REMOTE_USER_NAME }} # 服务器用户名称；需要去仓库的 settings/secrets/actions 去创建
          password: ${{ secrets.REMOTE_PASSWORD }} # 服务器密码；需要去仓库的 settings/secrets/actions 去创建
          port: ${{ secrets.REMOTE_PORT }} # 服务器端口，默认22；需要去仓库的 settings/secrets/actions 去创建
          script: |
            echo '开始执行命令'
            echo '${{ secrets.REMOTE_PASSWORD }}' | sudo -S docker stop weixin_service
            echo '${{ secrets.REMOTE_PASSWORD }}' | sudo -S docker rm weixin_service
            echo '停止/删除 服务'
            echo '${{ secrets.REMOTE_PASSWORD }}' | sudo -S docker rmi ghcr.io/jiahangchun/weixin:main
            echo '删除本地镜像'
            exec bash
      - name: 打包本地镜像
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.REMOTE_IP_ADDRESS }} # 服务器ip地址 ; 需要去仓库的 settings/secrets/actions 去创建
          username: ${{ secrets.REMOTE_USER_NAME }} # 服务器用户名称；需要去仓库的 settings/secrets/actions 去创建
          password: ${{ secrets.REMOTE_PASSWORD }} # 服务器密码；需要去仓库的 settings/secrets/actions 去创建
          port: ${{ secrets.REMOTE_PORT }} # 服务器端口，默认22；需要去仓库的 settings/secrets/actions 去创建
          script: |
            cd ${{ secrets.REMOTE_FILE_TARGET }}/weixin
            pwd
            echo "开始本地打包maven"
            mvn -B package --file pom.xml
            echo "开始本地打包 docker image"
            echo '${{ secrets.REMOTE_PASSWORD }}' | sudo -S docker build -t ghcr.io/jiahangchun/weixin:main .

  start:
    runs-on: ubuntu-latest
    needs: deploy
    permissions:
      contents: read
      packages: write
      #
    steps:
      - name: 启动项目
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.REMOTE_IP_ADDRESS }} # 服务器ip地址 ; 需要去仓库的 settings/secrets/actions 去创建
          username: ${{ secrets.REMOTE_USER_NAME }} # 服务器用户名称；需要去仓库的 settings/secrets/actions 去创建
          password: ${{ secrets.REMOTE_PASSWORD }} # 服务器密码；需要去仓库的 settings/secrets/actions 去创建
          port: ${{ secrets.REMOTE_PORT }} # 服务器端口，默认22；需要去仓库的 settings/secrets/actions 去创建
          script: |
            cd ${{ secrets.REMOTE_FILE_TARGET }}/nas_tool
            pwd
            echo '${{ secrets.REMOTE_PASSWORD }}' | sudo -S sh start.sh
            echo '启动项目'
            exec bash


